<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <img src="assets/naivaha_logo.png"   width="200"  height="80"  >
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <p style="margin-left: 10em" ></p>
    <nav id="navbar" class="navbar"  style="color:#586542 ;" >
      <ul>
        <li><a class="nav-link scrollto" [routerLink]="'/'">Home</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/destinations'">Destinations</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/experiences'">Experiences</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/events'">Events</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/services'">Services</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/merchandise'">Merchandise</a></li>
        <li><a class="nav-link scrollto" [routerLink]="'/faqs '">About us</a></li>
   
       
        <li><a class="getstarted scrollto"  [routerLink]="'/signup'" >Visit Naivasha</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
