<section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Events</h2>
      </div>

      <div class="row events-container" data-aos="fade-up" data-aos-delay="200">

   
 

      

        <div class="col-lg-4 col-md-6 events-item filter-card">
          <div class="events-img"><img src="https://pbs.twimg.com/media/FOr_DgyWYAYNOZd.jpg" class="img-fluid" alt=""></div>
          <div class="events-info">
            <h4>Event details</h4>
            <p>pricing</p>
            <a href="https://pbs.twimg.com/media/FOr_DgyWYAYNOZd.jpg" data-gallery="eventsGallery" class="events-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="events-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

  
      

      </div>

    </div>
  </section>
