<section class="wrapper">
  <div class="jumbotron">
    <div class="row">
      <div class="col text-center mb-5">
        <h1 class="display-4">All Upcoming Events</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas
          pulvinar.
        </p>
      </div>
    </div>
    <div class="row" *ngFor="let event of allEvents">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div
          class="card text-white card-has-bg click-col"
          style="background-image:url('https://media3.giphy.com/media/H7wxee1VYpAQFj9nc7/200w.webp?cid=ecf05e478nmz854gtxf4zlxcrb2v6w91wyxvf4jc3hop6ap1&rid=200w.webp&ct=g');"
        >
          <img
            class="card-img d-none"
            src="https://media3.giphy.com/media/H7wxee1VYpAQFj9nc7/200w.webp?cid=ecf05e478nmz854gtxf4zlxcrb2v6w91wyxvf4jc3hop6ap1&rid=200w.webp&ct=g"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2"
                >venue : {{ event.event_location_name }}</small
              >
              <br />
              <small class="card-meta mb-2">Pricing: Ksh 12,064</small>

              <h4 class="card-title mt-0">
                <a class="text-white" herf="#">Witness Greate zebra families</a>
              </h4>
              <small><i class="far fa-clock"></i> Nov 15, 2022</small>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4">
                  <input
                    id="form1"
                    min="0"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-lg-8">
                  <button
                    class="btn btn-btn-primary px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  >
                    Get Ticket
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div
          class="card text-white card-has-bg click-col"
          style="background-image:url('https://media2.giphy.com/media/qzKGfKDGPZCj6/giphy.webp?cid=ecf05e479on8ax7xlvc2kuwzudeqiwuko5wo92jvalge9nnz&rid=giphy.webp&ct=g');"
        >
          <img
            class="card-img d-none"
            src="https://media2.giphy.com/media/qzKGfKDGPZCj6/giphy.webp?cid=ecf05e479on8ax7xlvc2kuwzudeqiwuko5wo92jvalge9nnz&rid=giphy.webp&ct=g"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">venue: Ol-karia</small> <br />
              <small class="card-meta mb-2">Price: 17,877</small>

              <h4 class="card-title mt-0">
                <a class="text-white" herf="#"
                  >Hiking in naivashas beautifull landscapes</a
                >
              </h4>
              <small><i class="far fa-clock"></i> June 15, 2023</small>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4">
                  <input
                    id="form1"
                    min="0"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-lg-4">
                  <button
                    class="btn btn-btn-primary px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  >
                    Get Ticket
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div
          class="card text-white card-has-bg click-col"
          style="background-image:url('https://media4.giphy.com/media/4KEMJmpw4WoXgNGN9X/200w.webp?cid=ecf05e47qzrzsrbjzxbc6hyms2imst147mvxv6fwhffbmspn&rid=200w.webp&ct=g');"
        >
          <img
            class="card-img d-none"
            src="https://media4.giphy.com/media/4KEMJmpw4WoXgNGN9X/200w.webp?cid=ecf05e47qzrzsrbjzxbc6hyms2imst147mvxv6fwhffbmspn&rid=200w.webp&ct=g"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">venue : Naivasha</small>
              <h4 class="card-title mt-0">
                <a class="text-white" herf="#">The Great Safari Rally by WRC</a>
              </h4>
              <small><i class="far fa-clock"></i> October 1, 2022</small>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4">
                  <input
                    id="form1"
                    min="0"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-lg-4">
                  <button
                    class="btn btn-btn-primary px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  >
                    Get Ticket
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
