<section class="wrapper">
  <div class="jumbotron">
    <div class="row">
      <div class="col text-center mb-5">
        <h1 class="display-4">All Upcoming Events</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas
          pulvinar .
        </p>
      </div>
    </div>
    <div class="row" *ngFor="let event of allEvents">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div
          class="card text-white card-has-bg click-col"
          style="background-image:url('{{
            api.toString() + event.eventTags.tag_profile_url
          }}');"
        >
          <img
            class="card-img d-none"
            src="{{ event.eventTags.tag_profile_url }}"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2"
                >venue : {{ event.event_location_name }}</small
              >
              <br />
              <small class="card-meta mb-2">Pricing: Ksh 12,064</small>

              <h4 class="card-title mt-0">
                <a class="text-white" herf="#">{{
                  event.eventTags.tag_overlay_text
                }}</a>
              </h4>
              <small><i class="far fa-clock"></i> Nov 15, 2022</small>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4">
                  <input
                    id="form1"
                    min="0"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-lg-8">
                  <button
                    class="btn btn-btn-primary px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  >
                    Get Ticket
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
