<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <ul id="services-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">Hotels</li>
        <li data-filter=".filter-app" class="card"  >Activities</li>
        <li data-filter=".filter-card" class="card" >  Restaurants</li>
        <li data-filter=".filter-web" class="card"  >Professional Services</li>
        <li data-filter=".filter-card" class="card"  >Grill and Lounge</li>
        <li data-filter=".filter-card" class="card" >Shopping and Retail</li>
        <li data-filter=".filter-card" class="card" >Health Services</li>
      </ul>

      <div class="row services-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 services-item filter-app">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-web">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-app">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-card">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-web">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-app">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>App 3</h4>
            <p>App</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-card">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-card">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 services-item filter-web">
          <div class="services-img"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid" alt=""></div>
          <div class="services-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600" data-gallery="servicesGallery" class="services-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="services-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section>
